
<style>
    body {
        background-color: #363636;
    }
</style>
<ul class="row card-hover-wrapper">
    {% for info in infoList %}
    <li class="col-md-6">
        <a class="btn-block card-hover-item" href="{{ info.url }}" target="_blank">
            <div class="card-hover-face card-hover-face1">
                <div class="card-hover-content">
                    <img class="img-responsive" src="{{ info.thumbnail }}">
                    <h3 class="text-center">{{ info.title }}</h3>
                    {% if info.subTitle %}
                    <p class="text-center">[{{ info.subTitle }}]</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-hover-face card-hover-face2">
                <div class="card-hover-content">
                    <article>
                        {{ info.description | safe }}
                    </article>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>