<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="JDreamHeart[个人网站]">
		<meta name="author" content="JDreamHeart">
		<title>{{ TITLE }}</title>
		<link rel="shortcut icon" href={% static "icon/dzjh.ico" %} type="image/x-icon" />
		<link rel="stylesheet" href="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href= {% static "css/style.css" %} />
		<style>
			.game-info-img {
				border-radius: 4px;
			}
			.game-info-content {
				margin: 20px 0px;
				padding: 20px 0px;
				border-top: 1px #363636 solid;
				border-bottom: 1px #363636 solid;
			}
			.game-info-schedule {
				padding: 10px;
				border: 1px #686868 solid;
				border-radius: 4px;
			}
			.game-info-schedule h4 {
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<header id = "header">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="web-navbar">
					<a class="navbar-brand" href="http://jimdreamheart.club" title="DzjH">DzjH</a>
				</div>
				<div class="container">
					<div class="container-fluid navbar-header">
						<a class="navbar-brand" href="{{ TITLE_URL }}" title="{{ TITLE }}">{{ TITLE }}</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchNavCollapse">
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<div id="searchNavCollapse" class="navbar-collapse collapse">
						<form action="{{ SEARCH_URL }}" class="navbar-form navbar-right" method="POST">
							<input name="searchText" type="text" placeholder="{{ searchText }}" class="form-control">
							<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		
		<div class="container">
			{% if hasInfo %}
			<div class="row">
				<div class="col-md-8">
					<div class="game-info-tittle">
						<h2>{{ detailInfo.name }}</h2>
						{% if detailInfo.title %}
						<p>&nbsp;[{{ detailInfo.category }}]</span>
						{% endif %}
					</div>
					<p style="color: #A0A0A0;">
						<span>最近更新时间：{{ detailInfo.updateTime|date:"Y-m-d H:i:s" }}</span>
					</p>
				</div>
				<div class="col-md-4">
					<img class="game-info-img img-responsive" src="{{ detailInfo.thumbnail }}" />
				</div>
				<div class="col-md-12">
					<div class="game-info-content">
						<h4>游戏介绍：</h4>
						<article>{{ detailInfo.description | safe }}</article>
					</div>
					{% if detailInfo.schedule %}
					<div class="game-info-schedule">
						<h4 class="text-center">-&nbsp;制作进度&nbsp;-</h4>
						<p class="text-center">{{ detailInfo.schedule }}</p>
					</div>
					{% endif %}
					<div style="border-top: 1px #BCBCBC solid;padding-top: 40px;margin-top: 40px;">
						<ul class="row">
							{% for info in logInfoList %}
							<li class="col-md-12">
								<a class="btn-block col-md-12 item-info" href="{{ info.url }}" target="_blank">
									<div class="item-info-tittle">
										<h3>{{ info.title }}</h3>
										{% if info.subTitle %}
										<p>&nbsp;[{{ info.subTitle }}]</p>
										{% endif %}
									</div>
									<blockquote class="item-info-desc">{{ info.content | safe }}</blockquote>
									<div class="item-info-ex col-md-12">
										{% if info.updateTime %}
										<span>更新时间：{{ info.updateTime|date:"Y-m-d H:i:s" }}</span>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										{% endif %}
										{% for exInfo in info.exinfoList %}
										<span>{{ exInfo.key }}：{{ exInfo.value }}</span>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										{% endfor %}
									</div>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>没找到相应游戏信息</h1>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="fixdRight">
			<div id="toTop"><a href="javascript:void(0);" title="回到顶部">╱╲</a></div>
		</div>
		<footer>
			<div class="container">
				<p>Copyright&nbsp;&copy;&nbsp;2019&nbsp;by&nbsp;&nbsp;<a id="aboutDzjH" href="javascript:void(0);" title="关于梦心DH">D·zj·H</a>.</p>
			</div>
		</footer>
		<script src="http://jimdreamheart.club/resource/jquery/jquery-3.4.0.min.js"></script>
		<script src="http://jimdreamheart.club/resource/jquery/jquery.cookie.js"></script>
		<script src="http://jimdreamheart.club/resource/jquery/jquerysession.js"></script>
		<script src="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="http://jimdreamheart.club/resource/bootstrap-star-rating/js/star-rating.min.js"></script>
		<script src="http://jimdreamheart.club/resource/clipboard/dist/clipboard.min.js"></script>
        <script src="http://jimdreamheart.club/resource/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
        <script src="http://jimdreamheart.club/resource/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
		<script src="http://jimdreamheart.club/resource/jsencrypt/jsencrypt.min.js"></script>
		<script src={% static "js/main.js" %}></script>
		<script language="JavaScript">
			$(function(){})
		</script>
	</body>
</html>
