<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="JDreamHeart[个人网站]">
		<meta name="author" content="JDreamHeart">
		<title>{{ HEAD_TITLE }}</title>
		<link rel="shortcut icon" href={% static "icon/dzjh.ico" %} type="image/x-icon" />
		<link rel="stylesheet" href="{{ RESOURCE_URL }}/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href={% static "css/home.css" %} />
		<link rel="stylesheet" href= {% static "css/style.css" %} />
	</head>
	<body>
		<div class="cover" style="background: url({% static "img/home-bg.png" %}) repeat center 0;">
			<div class="cover-inner">
				<div class="cover-container">
					<nav class="cover-header">
						<ul class="cover-nav">
							{% for navInfo in navList %}
							<li><a href="{{ navInfo.url }}" target="_blank" title="{{ navInfo.title }}">{{ navInfo.name }}</a></li>
							{% endfor %}
						</ul>
					</nav>
					<div class="cover-title">
						<h3 class="text-center" style="opacity: 0.6;"><img class="img-responsive home-icon" src={% static "img/home-icon.png" %} style="height: 22px; margin-top: -6px; margin-right: 2px;" />{{ TITLE }}</h3>
						<div class="title-description" title="我的主站" data-target="ch">
							<h1>我的主站</h1>
							<div class="lead">
								<p>希望本网站的内容，能够对大家有所帮助。</p>
								<p>本网站主要收录了本人所设计或参与开发的网站、应用和文档等内容。</p>
							</div>
						</div>
						<div class="title-description" title="MY WEB" data-target="en">
							<h1>MY WEB</h1>
							<div class="lead">
								<p>I hope the content of this website, can be helpful to you.</p>
								<p>It mainly includes the websites, applications and documents designed or developed by myself.</p>
							</div>
						</div>
					</div>
					<div class="cover-content">
						<div class="content-cols">
							{% for webInfo in webList %}
							<div class="content-col" ontouchstart="this.classList.toggle('hover');">
								<a href="{{ webInfo.url }}" class="col-container center-block">
									<div class="col-container-front" style="background-color: #E1E1E1; background-image:url({{ webInfo.thumbnail }});">
										<div class="col-container-inner">
											<p>{{ webInfo.name }}</p>
											<span style="font-size: 14px;">{{ webInfo.title }}</span>
										</div>
									</div>
									<div class="col-container-back">
										<div class="col-container-inner">
											{{ webInfo.description | safe }}
										</div>
									</div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="cover-footer">
						<p>
							&copy;&nbsp;2019-2020&nbsp;
							<a class="aboutDzjH" href="javascript:void(0);" title="关于梦心DH" data-target="ch">梦心DH</a>
							<a class="aboutDzjH" href="javascript:void(0);" title="About DzjH" data-target="en">&nbsp;D·zj·H&nbsp;</a>
							&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://beian.miit.gov.cn" target="_blank" title="粤ICP备19036910号" style="font-size:12px;color:#BCBCBC">粤ICP备19036910号</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ RESOURCE_URL }}/jquery/jquery-3.4.0.min.js"></script>
		<script src="{{ RESOURCE_URL }}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src={% static "js/main.js" %}></script>
        <script language="JavaScript">
            $(function(){
				var language = "en";
				var titleDescPrevLan = language, aboutDzjHPrevLan = language;
				// 更新语言
				var updateTitleDesc = function() {
					if (titleDescPrevLan != language) {
						$(".title-description[data-target='"+titleDescPrevLan+"']").fadeOut(0.4, function(){
							$(".title-description[data-target='"+language+"']").fadeIn("slow");
						});
					}
					titleDescPrevLan = language;
				}
				var updateAboutDzjH = function() {
					if (aboutDzjHPrevLan != language) {
						$(".aboutDzjH[data-target='"+aboutDzjHPrevLan+"']").fadeOut(0.4, function(){
							$(".aboutDzjH[data-target='"+language+"']").fadeIn("slow");
						});
					}
					aboutDzjHPrevLan = language;
				}
				// 监听事件
				var titleDescEnabled = true, aboutDzjHEnabled = true;
				// 更新当前语言
				var updateLanguage = function() {
					// 更新当前语言
					if (language == "ch") {
						language = "en";
					} else {
						language = "ch";
					}
					// 更新内容
					if (titleDescEnabled) {
						updateTitleDesc();
					}
					if (aboutDzjHEnabled) {
						updateAboutDzjH();
					}
				}
				// 创建定时器
				var seconds = 6; // 定时器时长
				window.setInterval(updateLanguage, seconds * 1000);
				updateLanguage(); // 初始化时先更新语言
				// 网站描述监听
				$(".title-description").on("mouseenter", function(){
					titleDescEnabled = false;
				});
				$(".title-description").on("mouseleave", function(){
					titleDescEnabled = true;
					updateTitleDesc();
				});
				// 关于事件监听
				$(".aboutDzjH").on("mouseenter", function(){
					aboutDzjHEnabled = false;
				});
				$(".aboutDzjH").on("mouseleave", function(){
					aboutDzjHEnabled = true;
					updateAboutDzjH();
				});
				// 显示关于弹窗
				$(".aboutDzjH").on("click", function(){
					showAboutDzjHDialog();
				});
            })
        </script>
	</body>
</html>
