<div class="row">
    <div id="alertList">
    </div>
    <form id="releaseForm" class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" role="form" enctype="multipart/form-data">
        <h2 class="text-center" style="color:forestgreen;">
            上传{{ title }}
        </h2>
        <div id="releaseContent">
            {{ form.media }}
            {{ form.as_p }}
            <div style="margin-top: 30px">
                <input class="form-control btn btn-success" type="submit" value="确认上传" />
                <p style="margin-top: 10px; color: #BCBCBC;">*上传后需手动进行启用。</p>
            </div>
        </div>
    </form>
</div>
<h2 style="color:forestgreen;margin-top:40px;padding:10px;">已上传的{{ title }}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>标题</th>
            <th>链接</th>
            <th>图片</th>
            <th>图片描述</th>
            <th>更新时间</th>
            <th>排序值</th>
            <th>是否启用</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.name }}</th>
            <th>{{ olInfo.title }}</th>
            <th><a href="{{ olInfo.url }}" target="_blank">{{ olInfo.url }}</a></th>
            <th>
                {% if olInfo.img %}
                <img class="img-responsive" src="{{ olInfo.img }}">
                <a class="operate" name="show_big_img" data-target="{{ olInfo.img }}">查看大图</a>
                {% endif %}
            </th>
            <th>{{ olInfo.alt }}</th>
            <th>{{ olInfo.update_time|date:"Y-m-d H:i:s" }}</th>
            <th>{{olInfo.sortId}}</th>
            <th>
                {% if olInfo.isEnable %}
                <input class="operate" name="enable" data-target="{{ olInfo.id }}" type="checkbox" checked />
                {% else %}
                <input class="operate" name="enable" data-target="{{ olInfo.id }}" type="checkbox" />
                {% endif %}
            </th>
            <th>
                <a class="operate" name="update" data-target="{{ olInfo.id }}" style="margin-right: 10px;">更新</a>
                <a class="operate danger-btn" name="delete" data-target="{{ olInfo.id }}">删除</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script language="JavaScript">
	$(function(){
		// 显示弹出信息
		var showAlert = function(type, text) {
			$("#alertList").append("<div class='alert alert-"+ type +"' role='alert'>\
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>\
					<span class='alertContent'>"+ text +"</span>\
				</div>");
		}
        // 更新releaseContent
        if ($("#releaseContent").length > 0) {
            $("#releaseContent").children("p").each(function(idx, elem){
                var $label = $(elem).find("label");
                if ($label.length > 0) {
                    $(elem).addClass("input-group").css("margin-top", "30px");
                }
                $label.addClass("input-group-addon");
                $label.next().addClass("form-control");
            })
        }
        // 提交发布表单
        $("#releaseForm").validate({
            rules: {
                name: {
                    required: true,
                },
                url: {
                    required: true,
                },
            },
            messages: {
                name: "名称不能为空",
                url: "链接不能为空",
            },
            submitHandler: function() {
                uploadReleaseForm($("#releaseForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"},
                    {"key":"isRelease", "val":"true", "type":"text"},
                ]);
            }
        });
        // 点击操作
        $(".operate").on("click",function(){
            var opType = $(this).attr("name");
            var tg = $(this).attr("data-target");
            switch(opType) {
                case "show_big_img":
                    // 创建弹窗
                    createDialogPage("<img class='img-responsive' src='"+ tg +"' style='width: 100%;'>", "col-md-8 col-md-offset-2");
                    break;
                case "enable":
                    $.post(window.location.href, {
                        "isOpCarouse" : true,
                        "mk" : "{{mkey}}",
                        "opType" : opType,
                        "cid": tg,
                        "isEnable" : $(this).is(":checked"),
                    }, function(data, status){
                        if (status == "success") {
                            showAlert("success", "更新状态成功。");
                        } else{
                            showAlert("danger", "更新失败，请重试！");
                        }
                    });
                    break;
                case "delete":
                    // 创建弹窗
                    createDialogPage("<form class='dialog-form' role='form' enctype='multipart/form-data'>\
                                    <h2>是否确认删除？</h2>\
                                    <blockquote style='color: red;'>注意：删除后无法还原，请谨慎操作！</blockquote>\
                                    <div class='clearfix'>\
                                        <button id='cancelOperation' class='btn btn-lg btn-info pull-left'>取消</button>\
                                        <button id='submitOperation' class='btn btn-lg btn-default pull-right danger-button'>确定</button>\
                                    </div>\
                                </form>");
                    $("#cancelOperation").on("click",function(){
                        closeDialogPage(); // 关闭弹窗
                    });
                    $("#submitOperation").on("click",function(){
                        requestRelease({"mk" : "{{mkey}}", "cid" : tg, "opType" : opType});
                        closeDialogPage(); // 关闭弹窗
                    });
                    break;
                case "update":
                    $.post(window.location.href, {
                        "isOpCarouse" : true,
                        "mk" : "{{mkey}}",
                        "opType" : "update",
                        "cid": tg,
                    }, function(data, status){
                        if (status == "success") {
                            // 创建弹窗
                            createDialogPage("<form id='updateForm' class='dialog-form' role='form' enctype='multipart/form-data'>\
                                            <h2>更新Carouse</h2>\
                                            <div class='input-group' style='margin-top: 20px;'>\
                                                <label class='input-group-addon' for='sortId'>排序值:</label>\
                                                <input id='sortIdInput' name='sortId' class='form-control' type='number' value='"+ data.sortId +"' />\
                                            </div>\
                                            " + data.html + "\
                                            <input class='form-control btn btn-success' type='submit' value='确认更新' />\
                                        </form>", "col-md-8 col-md-offset-2");
                            $("#updateForm").children("p").each(function(idx, elem){
                                var $label = $(elem).find("label");
                                if ($label.length > 0) {
                                    $(elem).addClass("input-group").css("margin-top", "30px");
                                    $label.each(function(){
                                        if ($(this).attr("for") == "img-clear_id") {
                                            $(this).css("color", "lightcoral");
                                        } else {
                                            $(this).addClass("input-group-addon");
                                            $(this).next().addClass("form-control");
                                        }
                                    });
                                }
                            })
                            // 更新校验
                            $("#updateForm").validate({
                                rules: {
                                    name: {
                                        required: true,
                                    },
                                    url: {
                                        required: true,
                                    },
                                    sort_id: {
                                        required: true,
                                    },
                                },
                                messages: {
                                    name: "名称不能为空",
                                    url: "链接不能为空",
                                    sort_id: "排序值不能为空",
                                },
                                submitHandler: function() {
                                    uploadReleaseForm($("#updateForm"), [
                                        {"key":"mk", "val":"{{mkey}}", "type":"text"},
                                        {"key":"opType", "val":"update", "type":"text"},
                                        {"key":"cid", "val": data.id, "type":"number"},
                                    ]);
                                    closeDialogPage(); // 关闭弹窗
                                }
                            });
                        }
                    });
                    break;
            }
        });
	})
</script>