<div id="allList" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
	<div id="alertList">
	</div>
	<a id="sidebarToggleButton" class="sidebarToggle" href="javascript:void(0);"><span class="glyphicon glyphicon-menu-hamburger"></span>菜单栏</a>
	<div id="contentList">
		{% ifequal mkey "add_home_url" %}
			{% include "release/webitem/web_item_form.html" %}
		{% endifequal %}
		{% ifequal mkey "operate_home_url" %}
			{% include "release/webitem/ol_web_item.html" %}
		{% endifequal %}
		{% ifequal mkey "home_carouse" %}
			{% include "release/carouse.html" %}
		{% endifequal %}
		
		{% ifequal mkey "add_wiki" %}
			{% include "release/webitem/web_item_form.html" %}
		{% endifequal %}
		{% ifequal mkey "operate_wiki" %}
			{% include "release/webitem/ol_web_item.html" %}
		{% endifequal %}
		{% ifequal mkey "wiki_carouse" %}
			{% include "release/carouse.html" %}
		{% endifequal %}

		{% ifequal mkey "add_github" %}
			{% include "release/webitem/web_item_form.html" %}
		{% endifequal %}
		{% ifequal mkey "operate_github" %}
			{% include "release/webitem/ol_web_item.html" %}
		{% endifequal %}
		{% ifequal mkey "github_carouse" %}
			{% include "release/carouse.html" %}
		{% endifequal %}
		
		{% ifequal mkey "game_carouse" %}
			{% include "release/carouse.html" %}
		{% endifequal %}
		{% ifequal mkey "add_game" %}
			{% include "release/gameitem/game_item_form.html" %}
		{% endifequal %}
		{% ifequal mkey "operate_game" %}
			{% include "release/gameitem/ol_game_item.html" %}
		{% endifequal %}
		{% ifequal mkey "add_game_log" %}
			{% include "release/gamelog/new_game_log.html" %}
		{% endifequal %}
		{% ifequal mkey "operate_game_log" %}
			{% include "release/gamelog/ol_game_log.html" %}
		{% endifequal %}
		
		{% ifequal mkey "resume_token" %}
			{% include "release/resume_token.html" %}
		{% endifequal %}
	</div>
</div>
<script language="JavaScript">
	$(function(){
		var showAlert = function(type, text) {
			$("#alertList").append("<div class='alert alert-"+ type +"' role='alert'>\
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>\
					<span class='alertContent'>"+ text +"</span>\
				</div>");
		}
		var tips = "{{requestFailedTips}}";
		if (tips != "") {
			showAlert("danger", tips);
		} else {
			tips = "{{requestTips}}";
			if (tips != "") {
				showAlert("success", tips);
			}
		}
		// 显示头部信息
		if ($("#userNavCollapse ul").hasClass("hidden")) {
			$("#userNavCollapse ul").removeClass("hidden");
		}
		// 显示左边导航栏
		if ($("#sidebar").hasClass("hidden")) {
			$("#sidebar").removeClass("hidden");
		}
		// 更新当前项
		var mkey = "{{mkey}}";
		var $activeItem = $("#sidebar li.active>._slideItem_");
		if ($activeItem.length == 0) {
			$("#sidebar ._slideItem_[data-target="+mkey+"]").parent().toggleClass("active");
		}else if (mkey != $activeItem.attr("data-target")) {
			$activeItem.parent().toggleClass("active");
			$("#sidebar ._slideItem_[data-target="+mkey+"]").parent().toggleClass("active");
		}
		// 切换左侧菜单栏的线上
		$("#sidebarToggleButton").on("click", function(){
			if ($("#sidebar").hasClass("hidden")) {
				$("#sidebar").removeClass("hidden");
				$("#allList").attr("class", "col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2");
				$("#contentList").attr("class", "");
			} else {
				$("#sidebar").addClass("hidden");
				$("#allList").attr("class", "col-md-12");
				$("#contentList").attr("class", "col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1");
			}
		});
	})
</script>