<div class='container'>
	<div class='row'>
		<div id="alertList">
		</div>
		<div class='dialog-background col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4'>
			<form id='loginForm' class='login-form' role='form' enctype='multipart/form-data'>
				<h2 class="text-center">登陆JDreamHeart发布后台</h2>
				<input name='token' class='form-control' type='text' placeholder='Token' required autofocus />
				<button class='btn btn-lg btn-success btn-block form-control' type='submit'><span class='glyphicon glyphicon-log-in'></span>&nbsp;登陆</button>
			</form>
		</div>
	</div>
</div>
<script language="JavaScript">
	$(function(){
		// 显示弹出信息
		var showAlert = function(type, text) {
			$("#alertList").append("<div class='alert alert-"+ type +"' role='alert'>\
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>\
					<span class='alertContent'>"+ text +"</span>\
				</div>");
		}
		var tips = "{{requestFailedTips}}";
		if (tips != "") {
			logoutRelease(); // 登出发布后台
			showAlert("danger", tips);
		} else {
			tips = "{{requestTips}}";
			if (tips != "") {
				showAlert("success", tips);
			}
		}
		// 隐藏头部
		if (!$("#userNavCollapse ul").hasClass("hidden")) {
			$("#userNavCollapse ul").addClass("hidden");
		}
		// 隐藏左边导航栏
		if (!$("#sidebar").hasClass("hidden")) {
			$("#sidebar").addClass("hidden");
		}
		// 登陆校验
		$("#loginForm").validate({
			rules: {
				token: {
					required: true,
				},
			},
			messages: {
				token: {
					required: "请输入登录Token",
				},
			},
			submitHandler: function() {
				loginIP("loginForm", function(){
					requestRelease({});
				});
			}
		});
	})
</script>