<div class="row">
    <form id="releaseForm" class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" role="form" enctype="multipart/form-data">
        <h2 class="text-center" style="color:forestgreen;">
            创建简历Token
        </h2>
        <div id="releaseContent">
            {{ form.media }}
            {{ form.as_p }}
            <div style="margin-top: 30px">
                <input class="form-control btn btn-success" type="submit" value="创建Token" />
                <p style="margin-top: 10px; color: #BCBCBC68;">*创建后会自动激活。</p>
            </div>
        </div>
    </form>
</div>
<h2 style="color:forestgreen;margin-top:40px;padding:10px;">已有简历Token</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Token</th>
            <th>名称（简历索引）</th>
            <th>备注</th>
            <th>有效期</th>
            <th>创建时间</th>
            <th>激活时间</th>
            <th>当前状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.token }}</th>
            <th>{{ olInfo.name }}</th>
            <th>
                <span style="margin-right: 4px;">{{ olInfo.remarks }}</span>
                <a class="operate" name="change_remarks" data-target="{{ olInfo.id }}" data-value="{{ olInfo.remarks }}">修改</a>
            </th>
            <th>
                <span style="margin-right: 4px;">{{ olInfo.expires }}</span>
                <a class="operate" name="change_expires" data-target="{{ olInfo.id }}" data-value="{{ olInfo.expires }}">修改</a>
            </th>
            <th>{{ olInfo.create_at|date:"Y-m-d H:i:s" }}</th>
            <th>{{ olInfo.active_at|date:"Y-m-d H:i:s" }}</th>
            <th>{{ olInfo.state }}</th>
            <th>
                {% if olInfo.isNotActive %}
                    <a class="btn btn-primary operate" name="active" data-target="{{ olInfo.id }}">激活</a>
                {% endif %}
                <a class="btn btn-danger operate" name="delete" data-target="{{ olInfo.id }}">删除</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script language="JavaScript">
	$(function(){
        // 更新releaseContent
        if ($("#releaseContent").length > 0) {
            $("#releaseContent").children("p").each(function(idx, elem){
                var $label = $(elem).find("label");
                if ($label.length > 0) {
                    $(elem).addClass("input-group").css("margin-top", "30px");
                }
                $label.addClass("input-group-addon");
                $label.next().addClass("form-control");
            })
        }
        // 提交发布表单
        $("#releaseForm").validate({
            rules: {
                expires: {
                    required: true,
                },
            },
            messages: {
                expires: "有效期不能为空",
            },
            submitHandler: function() {
                uploadReleaseForm($("#releaseForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"},
                    {"key":"isRelease", "val":"true", "type":"text"},
                ]);
            }
        });
        
        $(".operate").on("click",function(){
            var opType = $(this).attr("name");
            var tid = $(this).attr("data-target");
            switch(opType) {
                case "change_remarks":
                    // 创建弹窗
                    createDialogPage("<form id='remarksForm' class='dialog-form' role='form' enctype='multipart/form-data'>\
                                    <h2>修改备注</h2>\
                                    <div class='input-group'>\
                                        <label class='input-group-addon' for='description'>备注</label>\
                                        <input name='remarks' class='form-control' type='text' value="+ $(this).attr("data-value") +" required autofocus />\
                                    </div>\
                                    <button class='btn btn-lg btn-success form-control' type='submit'>&nbsp;确认修改</button>\
                                </form>");
                    $("#remarksForm").validate({
                        rules: {
                            remarks: {
                                required: true,
                            },
                        },
                        messages: {
                            remarks: "备注不能为空",
                        },
                        submitHandler: function() {
                            requestCallback({
                                "mk" : "{{mkey}}",
                                "opType" : opType,
                                "tid" : tid,
                                "remarks" : $("#remarksForm input[name='remarks']").val(),
                            }, function(){
                                closeDialogPage(); // 请求后关闭弹窗
                            });
                        }
                    });
                    break;
                case "change_expires":
                    // 创建弹窗
                    createDialogPage("<form id='expiresForm' class='dialog-form' role='form' enctype='multipart/form-data'>\
                                    <h2>修改有效期</h2>\
                                    <div class='input-group'>\
                                        <label class='input-group-addon' for='description'>有效期（天）</label>\
                                        <input name='expires' class='form-control' type='number' value="+ $(this).attr("data-value") +" required autofocus />\
                                    </div>\
                                    <button class='btn btn-lg btn-success form-control' type='submit'>&nbsp;确认修改</button>\
                                </form>");
                    $("#expiresForm").validate({
                        rules: {
                            expires: {
                                required: true,
                            },
                        },
                        messages: {
                            expires: "有效期不能为空",
                        },
                        submitHandler: function() {
                            requestCallback({
                                "mk" : "{{mkey}}",
                                "opType" : opType,
                                "tid" : tid,
                                "expires" : $("#expiresForm input[name='expires']").val(),
                            }, function(){
                                closeDialogPage(); // 请求后关闭弹窗
                            });
                        }
                    });
                    break;
                case "active":
                    requestCallback({
                        "mk" : "{{mkey}}",
                        "opType" : opType,
                        "tid": tid,
                    }, function(){});
                    break;
                case "delete":
                    requestCallback({
                        "mk" : "{{mkey}}",
                        "opType" : opType,
                        "tid": tid,
                    }, function(){});
                    break;
            }
        });
	})
</script>