.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #363636;
    border-right: 1px solid #686868;
}
.nav-sidebar {
    margin-right: -20px;
    margin-left: -20px;
    padding: 10px 0px;
    border-top: 1px #565656 solid;
}
.nav-sidebar:first-child {
    border-top: none;
}
.nav-sidebar li > a:hover,
.nav-sidebar li > a:focus {
    background-color: #686868;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    font-size: 18px;
    color: #232323;
    background-color: #428BCA;
}
#contentList > h2, .item-content > h2{
    padding-top: 10px;
    color: #2069A8;
    border-bottom: 1px #565656 solid;
}
.form-group > h3 {
    color: #008000;
    padding: 10px;
    margin: 20px 0px;
    border-bottom: 1px #686868 solid;
}
.form-group > .input-group {
    margin: 20px 0px;
}
#searchForm > .input-group {
    margin:  0px;
    margin-top: 40px;
}
.examination {
    font-size: 4px;
}
/* validation */
.error {
    border: 1px solid red;
}
label.error {
    color: red;
    border: none;
}
/* releaseForm */
#releaseForm {
    color: #363636;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #E1E1E1;
}
#releaseForm h2, .dialog-form h2 {
    padding: 20px;
    color:forestgreen;
    border: 1px #BCBCBC solid;
    background-color: #F1F1F1;
}
#releaseForm a, .dialog-form a {
    color: #428BCA;
}
#releaseForm a:hover, .dialog-form a:hover {
    color: #0b487e;
}
/* table style */
table tbody th {
	background-color: #212121;
}
table tbody th>.img-responsive {
	display: inline-block;
	width: 40px;
}
table tbody th a, table tbody th input {
	cursor: pointer;
	color: #428BCA;
}
table tbody th a:hover {
	cursor: pointer;
	color: #0b487e;
}
table tbody th .danger-btn {
	cursor: pointer;
	color: lightcoral;
}
table tbody th .danger-btn:hover {
	cursor: pointer;
	color: darkred;
}