<h5><span>{{ info.name }}</span></h5>
<div class="col-md-12 resume-item">
	{% for item in info.items %}
	<div class="col-md-12 resume-line"><div></div></div>
	<div class="col-md-12 resume-title">
		<p class="col-md-4 text-center">
			{{ item.startTime }}&nbsp;~&nbsp;
			{% if item.endTime %}
			{{ item.endTime }}
			{% else %}
			至今
			{% endif %}
		</p>
		<p class="col-md-4 text-center">{{ item.title }}</p>
		<p class="col-md-4 text-center">{{ item.subTitle }}</p>
	</div>
	<div class="col-md-12 projec_description">{{ item.description|safe }}</div>
	{% endfor %}
</div>