<h5><span>{{ info.name }}</span></h5>
<div class="col-md-12 resume-item">
	{% for item in info.items %}
	<div class="col-md-12 resume-line"><div></div></div>
	<div class="col-md-12 resume-title">
		<p class="col-md-4 text-center">
			{{ item.startTime }}&nbsp;~&nbsp;
			{% if item.endTime %}
			{{ item.endTime }}
			{% else %}
			至今
			{% endif %}
		</p>
		<p class="col-md-4 text-center">
			{% if item.icon %}
			<img class="img-responsive" src="{{ item.icon }}" style="display: inline-block; height: 24px; margin-top: -2px" />
			{% endif %}
			{{ item.company }}
		</p>
		<p class="col-md-4 text-center">{{ item.position }}</p>
	</div>
	<div class="col-md-12 work-timeline">
	    {% for v in item.items %}
	    <div class="col-md-{{item.itemCols}} timeline">
	        <p class="timeline-time text-center">{{ v.time }}</p>
	        <div class="timeline-icon"></div>
	        <article class="timeline-description text-center">{{ v.description|safe }}</article>
	    </div>
	    {% endfor %}
	</div>
	{% endfor %}
</div>